/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
/* variables */
:root {
    /* color */
    --body-color: linear-gradient(219.03deg, #F4C7EA 4.12%, #FDE5EC 95.2%);
    --main-color: linear-gradient(136.16deg, rgba(46, 9, 22, 0.97) 12.91%, rgba(32, 10, 43, 0.69) 87.68%);
    /* fonts */
    --body-font: 'Zen Kaku Gothic New', sans-serif;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    height: 100vh;
    background: var(--body-color);
    font-family: var(--body-font);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main {
    overflow: hidden;
    width: 90%;
    height: 80%;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 26px 24px 90px rgba(87, 183, 171, 0.19);
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.main__left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}
.main-left h4 {
    text-align: center;
}
.main__img {
    
    max-width: 300px;
}
.main__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.calculator__heading {
    font-size: 1.2rem;
    font-weight: 100;
}
.calculator__button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    width: 25px;
    height: 25px;
    margin: 0.2rem;
    cursor: pointer;
}
.calculator__result {
    font-size: 2rem;
}

